body {
background-color: lightblue;
}

h1 {
font-family: verdana;
}

input[type=text] {
	width: 20%;
	padding: 12 px 20 px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
}

.Messagebox {
display: block;
    width:400px;
    height:400px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    padding:20px;
    border:5px solid blue;
    border-radius:8px;
    overflow:scroll;
}
.boxtext {
	display: block;
<<<<<<< HEAD
}
=======
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.message_response_area {
display: block;
width
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</STYLE>
>>>>>>> 7d415953b6c5f52188965931feebebc2ede9fc8e
